/* Formatação dos botões cadastrar e entrar */
.btn-roxo-e{
	
	background-color: #8453B3;
	color: white;
}

.btn-roxo-e:hover{
	background-color: #A373D1;
}

.btn-roxo-c{
	background-color: #A373D1;
	color: white;
}

.btn-roxo-c:hover{
	background-color: #8453B3;
}

/*Espaçamento entre as seções */
.caixa{
	padding: 60px 0px;
}

.caixa-forms{
	margin-top: 40px;
}

/*Formatação da seção sobre, impactar, operacionalização */
h4, p{
	color: #8453B3;
}

h6{
	margin-top: 25px;
}

.negrito{
	font-weight: bold;
}

#opera h4{
	margin-bottom: 55px;
}

#demanda{

	margin-bottom: 60px;

}

#footer_unicap{
	background-color: #690013;
}

.btn-voltar{
	padding-left: 60px;
}